p {
    margin-bottom: 0.3rem;
}

.hover-cursor {
    cursor: pointer;
}

.hover-text-color:hover{
    color: #0D6EFD;
}

.small-print {
    font-size: 12px;
    font-style: italic;
    color: #848488;
}